{% extends 'base.html' %}{% load static %} {% load formatdates %}

{% block page_header %}
<div class="page-header">
</div>
{% endblock %}

{% block content %}

<div class="text-center">
    <h3 class="my-3">Find Games Worth Watching </h3>
</div>
<div class="buttons text-center">
    <a class="btn btn-success rounded-4 my-4 mr-4" href="{% url 'schedule_search' date=today %}"> Today's
        Games</a>
    <a class="btn btn-primary rounded-4" data-toggle="modal" data-target="#dateModal"> Select Date </a>
</div>
<div class="modal fade" id="dateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center p-0">
                <div class="row no-gutters">
                    <div class="datepicker col-12" id="datepicker"></div>
                </div>
                <input type="hidden" id="my-datepicker" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% if five_star %}
        <h4 class="my-4"> Five Star Rated!</h4>
        <hr>
        {% for game in five_star %}
        <div class="row">
            <div class="col-7">
                <p> {{ game.scheduled.away.name }}
                    <img class="team-logo d-none d-md-inline"
                        src="{{ MEDIA_URL }}logos/{{game.scheduled.away.image}}" /> at
                    {{ game.scheduled.home.name }}
                    <img class="team-logo d-none d-md-inline"
                        src="{{ MEDIA_URL }}logos/{{game.scheduled.home.image}}" />
                    on {{game.scheduled.date|format_date:"SHORT"}}</p>
            </div>
            <div class="d-none d-md-block col-md-1"></div>
            <div class="col-5 col-md-4">
                Rated - {{game.rating}}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    
</div>

{% endblock %}

{% block postloadjs %}


<script type="text/javascript">
    $(document).ready(function () {
        $('#datepicker').datepicker({ 'format': 'yyyy-mm-dd', 'todayHighlight': "True" });
        $('#datepicker').on('changeDate', function () {
            $('#my-datepicker').val(
                $('#datepicker').datepicker('getFormattedDate')
            );
            date = $('#datepicker').datepicker('getFormattedDate');
            redirectUrl = `schedule/search/${date}`;
            window.location = redirectUrl;
        });
    });

</script>
{% endblock %}