.logo{
    height: 80px;
    width: auto;
    border-radius: 50%;
    border: solid #2B3E50 5px;
}
.navbar-collapse{
    z-index:49;
}
.list-nav{
    margin-top: 2rem;
    margin-left: 1rem;
}

.menu-logo {
    top: 5px;
    position: fixed;
    z-index: 50;
}
.page-header {
    height: 20px;
}

.navbar {
    margin-top: 20px;
    height: 50px;
}

.container{
    min-height: calc(100vh - 110px);
}

.loader_gif{
    height: 100px;
    width: auto;
    border-radius: 50%;
    position: fixed;
    top: 35%;
    left: 45%;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.3;
}

.dateselect{
    position: relative;
    right: 115px;
    top: -2px;
    width: 20px;
    z-index: -1;
    background-color: #2B3E50;
    border: None;
    color: #2B3E50;
}


/* Bootstrap datepicker css taken from https://codepen.io/salahuddin/pen/LOmWpg */

/*Bootstrap Calendar*/
.datepicker {
    border-radius: 0;
    margin: 0;
    padding: 0;
    min-width: 60vw;
    max-width: 80vw;
    display: inline;
}

.datepicker-days table thead, .datepicker-days table tbody, .datepicker-days table tfoot {
    padding: 10px;
    display: list-item;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: #3546b3;
    color: #ffffff;
    border-radius: 0;
}
.datepicker-days table thead tr:nth-child(2n+0) td, .datepicker-days table thead tr:nth-child(2n+0) th {
    border-radius: 3px;
}
.datepicker-days table thead tr:nth-child(3n+0) {
    text-transform: uppercase;
    font-weight: 300 !important;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 11px 13px;
}
.datepicker-months table thead td, .datepicker-months table thead th, .datepicker-years table thead td, .datepicker-years table thead th, .datepicker-decades table thead td, .datepicker-decades table thead th, .datepicker-centuries table thead td, .datepicker-centuries table thead th {
    border-radius: 0;
}
.datepicker td, .datepicker th {
    border-radius: 50%;
    padding: 0 12px;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: #3546b3;
    color: #ffffff;
    border-radius: 0;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-image: none;
}
.datepicker .prev, .datepicker .next {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    width: 37px;
    height: 37px;
}
.datepicker .prev:hover, .datepicker .next:hover {
    background: transparent;
    color: rgba(255, 255, 255, 0.99);
    font-size: 21px;
}
.datepicker .datepicker-switch {
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;
}
.datepicker .datepicker-switch:hover {
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
}
.datepicker table tr td span {
    border-radius: 2px;
    margin: 3%;
    width: 27%;
}
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
  background-color: #3546b3;
  background-image: none;
}

table ::marker{
    content:"";
}
.modal-body{
    height: 80vh;
}

.rating-img{
    height: auto;
    width: 200px;
}

.team-rating{
    width: 50px;
    border-radius: 5px;
    height: auto;
}
.rating-pin{
    width: 50px;
}

.logo-portrait{
    width:175px;
    height: auto;
}

.team-logo{
    width:auto;
    height: 90px;
}

.table {
    table-layout: fixed;
    font-size: 0.6rem;
}

.table td {
    padding: 0;
}

hr{
    border-color: white;
}
.table td a{
    font-size: 0.6rem;
}

.table th h5{
    font-size: 0.7rem;
}
.table th{
    padding: 0;
}

.row{
    border-radius: 4px;
}

.container{
    background-color: #344b61;
    border-radius: 2px;
    padding: 22px;
}

@media only screen and (min-width: 769px) {
.datepicker{
    margin-left:60px;
}
  .list-nav{
    margin-left: 5rem;
}
.table {
    font-size: 0.875rem;
}
.table td a{
    font-size: 0.875rem;
}

.table th h5{
    font-size: 1.25rem;
}

.standing-data{
    height: 2.6875rem;
}
.rating-img{
    width: 200px;
    border-radius: 4px;
}
.rating-pin{
    width: 75px;
    border-radius: 4px;
    height: auto;
}
.team-rating{
    width: 150px;
    border-radius: 5px;
    height: auto;
}
.logo-portrait{
    width:200px;
}
}