.logo{
    height: 80px;
    width: auto;
    border-radius: 50%;
    border: solid #2B3E50 5px;
}

.list-nav{
    margin-top: 2rem;
    margin-left: 1rem;
}

.menu-logo {
    top: 5px;
    position: fixed;
}
.page-header {
    height: 20px;
}

.navbar {
    margin-top: 20px;
    height: 50px;
}

@media only screen and (min-width: 769px) {
  .list-nav{
    margin-left: 5rem;
}

}