{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    {% endblock %} {% block extra_head %} {% endblock %} {% block css %}
    <!-- Bootswatch Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css" integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" crossorigin="anonymous">
    <!-- Google Fonts CSS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    {% endblock %} {% block corejs %}
    <!-- FontAwesome JS-->
    <script src="https://kit.fontawesome.com/b3365ba79c.js" crossorigin="anonymous"></script>
    <!-- JQUERY JS-->
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

    <!-- Bootstrap JS-->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
    {% block extra_js %}
    
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    <title>{% block head_title %}{% endblock %}</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light m-0 p-0">
    <a class="navbar-brand ml-2" href="{% url 'index' %}"><img class="logo rounded-3" src="/media/RTGLOGO.png" alt="Logo"/></a>
    </nav>
      
      {% if messages %}
    <div class="message-container">
        <!-- Taken from base.html of CI Ecommerce project -->
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    


    {% block page_header %} 
    {% endblock %} 


    {% block content %} 
    {% endblock %}

    {% block postloadjs %}

    {% endblock %}
  </body>
</html>
