{% extends 'base.html' %} {% load static %}

{% block content %}
<div class="loader-gif-container d-none">
    <div class="overlay">
    </div>
    <img class="loader_gif" src="{{MEDIA_URL}}basketball-loader.gif"/>
</div>

<div class="container">

<h4 class="header my-4">Games on {{date}} </h4> 
<a class="btn btn-primary rounded-4  mb-2" id="datepicker_button"> Select Date </a>
<input type="text" id="my-datepicker" class="dateselect ml-2" onchange="search_schedule()"/>

{% if message %}
 <h5 class="text-danger">  {{ message }}</h5>
{% endif %}
    <table class="table table-hover">
    {% if games %}
        {% for game in games %}
            <tr class="table-secondary text-center my-auto">
                <td> {{game.schedule.away.name}}</td>
                <td> vs </td>
                <td>{{game.schedule.home.name }}</td>
                <td> {{game.schedule.time}} GMT</td>
                <td> <a class="btn btn-large btn-success" onclick="show_rating('{{game.schedule.id}}')">Rate That Game</a> </td>                
            </tr>
            <tr class="table-light d-none" id="{{game.schedule.id}}">
                <td colspan="5">
                    {% if game.game_data.rating %}
                    <div class="text-center">
                        <img class="mx-auto rating-img" src="{{MEDIA_URL}}{{ game.game_data.rating|floatformat:0 }}star.png"/>
                    </div>
                    {% else %}
                    {{ game.game_data }}
                    {% endif %}
                </td> 
            </tr>
        {% endfor %}
    {% endif %}
    </table>
    
</div>
{% endblock %}

{% block postloadjs %}


<script type="text/javascript">
   $('#datepicker_button').click(function(){
       $(document).ready(function(){
           $("#my-datepicker").datepicker({'format':'yyyy-mm-dd', 'todayHighlight': "True"}).focus();
       });
   });

   function search_schedule(){
       dateNew = $('#my-datepicker').val();
       redirectURL = window.location.href.replace("{{search_date}}", dateNew);
       console.log(redirectURL);
       window.location = redirectURL;
   }
</script>

<script src="{% static 'js/display_rating.js' %}" type="text/javascript"></script>
{% endblock %}