{% extends 'base.html' %} {% load static %}{% load rating_format %}

{% block content %}
<div class="loader-gif-container d-none">
    <div class="overlay">
    </div>
    <img class="loader_gif" src="{{MEDIA_URL}}basketball-loader.gif" />
</div>

<div class="container">

    <h4 class="header my-4">Games on {{date}} </h4>
    <a class="btn btn-primary mb-2" href="{% url 'schedule_search' prev %}"><i
            class="fas fa-arrow-alt-circle-left"></i></a>
    <a class="btn btn-primary rounded-4  mb-2" data-toggle="modal" data-target="#dateModal"> Select Date </a>
    <a class="btn btn-primary mb-2" href="{% url 'schedule_search' next %}"><i
            class="fas fa-arrow-alt-circle-right"></i></a>

    <div class="modal fade" id="dateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center p-0">
                <div class="row no-gutters">
                    <div class="datepicker col-12" id="datepicker"></div>
                </div>
                <input type="hidden" id="my-datepicker" />
            </div>
        </div>
    </div>
</div>

    {% if message %}
    <h5 class="text-danger"> {{ message }}</h5>
    {% endif %}
    <table class="table table-hover">
        {% if games %}
        {% for game in games %}
        <tr class="table-secondary text-center my-auto">
            <td class="align-middle">
                <p class="align-middle m-0">{{game.schedule.away.name}}</p><img
                    class="team-logo d-none d-md-inline-block" src="{{MEDIA_URL}}logos/{{game.schedule.away.image}}" alt="{{game.schedule.away.name}}"/>
            </td>
            <td class="align-middle">
                <p class="m-0"> vs </p>
            </td>
            <td class="align-middle">
                <p class="m-0">{{game.schedule.home.name}}</p><img class="team-logo d-none d-md-inline-block"
                    src="{{MEDIA_URL}}logos/{{game.schedule.home.image}}" alt="{{game.schedule.home.name}}"/>
            </td>
            <td class="d-none d-md-table-cell align-middle "> {{game.schedule.time}} GMT</td>
            <td class="align-middle"> <a class="btn btn-large btn-success rounded"
                    onclick="show_rating('{{game.schedule.id}}')">Rate That Game</a>
            </td>
        </tr>
        <tr class="table-light " id="{{game.schedule.id}}">

            {% if game.game_data.rating %}
            <td class="align-middle">
                <div class="hide-rating rating">
                <h3 class="text-right">Rated</h3>
                </div>
            </td>
            {% if game.game_data.OT %}
            <td colspan="2">
                <div class="text-center hide-rating rating">
                    <img class="mx-auto rating-img"
                        src="{{MEDIA_URL}}{{ game.game_data.rating|floatformat:1 }}star.png" alt="{{ game.game_data.rating|floatformat:1 }}"/>
                </div>
            </td>
            <td class="align-middle">
                <div class="text-center hide-rating rating">
                   <h3> OVERTIME BADGE</h3>
                </div>
            </td>
            {% else %}
            <td colspan="3">
                <div class="text-center hide-rating rating">
                    <img class="mx-auto rating-img"
                        src="{{MEDIA_URL}}{{ game.game_data.rating|floatformat:1 }}star.png" alt="{{ game.game_data.rating|floatformat:1 }}" />
                </div>
            </td>
            {% endif %}
            {% else %}
            <td class="align-middle mr-auto">
                <div class="d-block hide-rating rating">
                    <h3 class="text-center"></h3>
                </div>
            </td>
            <td colspan="3" class="text-center">
                <div class="hide-rating rating">
                <h4 class="text-danger">{{ game.game_data }}</h4>
                </div>
            </td>
            {% endif %}

            <td class="d-none d-md-table-cell"></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

</div>
{% endblock %}

{% block postloadjs %}


<script type="text/javascript">
    $(document).ready(function () {
        $('#datepicker').datepicker({ 'format': 'yyyy-mm-dd', 'todayHighlight': "True" });
        $('#datepicker').on('changeDate', function () {
            $('#my-datepicker').val(
                $('#datepicker').datepicker('getFormattedDate')
            );
            newDate =  $('#my-datepicker').val();
            URL = window.location.href
            redirectURL = URL.replace("{{search_date}}", `${newDate}`);
            console.log(redirectURL)
            reload(redirectURL)
        });
        
        function reload(URL){
             window.location = URL;
        }
    });

</script>

<script src="{% static 'js/display_rating.js' %}" type="text/javascript"></script>
{% endblock %}